<form class="booking-form">
    <h2>Formulario</h2>
    <div class="booking-form-div">
        <input type="text" placeholder="Nombre de usuario">
    </div>
    <div class="booking-form-div">
        <input type="password" placeholder="Contraseña">
    </div>
    <div class="booking-form-div">
        <input type="text" placeholder="País">
    </div>
    <div class="booking-form-div">
        <input type="password" placeholder="Mail">
    </div>
    <button type="button">Enviar</button>
</form>