<div {{did-insert this.showModal}}>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">MTS Globe</h5>
                </div>
                <div class="modal-body">
                    Bienvenido a la aplicación de ProjectBookings
                </div>
                <div class="modal-footer">
                    <label>
                        <input type="checkbox" class="dontShow" {{on "change" this.handleCheckboxChange}} />  Don't show this message again
                    </label>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
