<nav class="menu">
    <LinkTo @route="home" class="menu-home">
        <h1>Home</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="list" class="menu-list">
        Users
        </LinkTo>
        <LinkTo @route="form" class="menu-form">
        Accommodations
        </LinkTo>
    </div>
</nav>